@model IEnumerable<JobBoardFinal.Data.OpenPosition>

@{
    ViewBag.Title = "Openings";
}

<h2>@ViewBag.Title</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.OpenPositionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionID }) 
            @*@Html.ActionLink("Apply", "Apply","OpenPositions",)*@
            @using (Html.BeginForm("Apply", "OpenPositions", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="openPosition" value="@item.OpenPositionID" />

                <input type="submit" class="btn btn-danger" value="Click to Apply" />
            }



        </td>
    </tr>
}
   

</table>
