@model IEnumerable<JobBoardFinal.Data.Position>



<p>
</p>
<table id="position" class="table display">
    <thead>


        <tr>


            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pay)
            </th>
            <th>                           
                    <input type="button" class="btn btn-success" value="Create" onclick="location.href='@Url.Action("Create", "Positions")'" />                
                @*@Html.ActionLink("Create", "Create")*@

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pay)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.PositionID }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.PositionID }) @:|


                    }


                </td>

            </tr>

        }
    </tbody>



</table>
@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#position').DataTable();
        });
    </script>

}
